@model ProjectManagementMadeEasyApp.Models.TaskModel

@{
    ViewBag.Title = "Add Task";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Add a new Task:</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <p>@Html.LabelFor(model => model.Task_Desc, htmlAttributes: new { @class = "control-label col-md-2" })</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Task_Desc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Task_Desc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <p>@Html.LabelFor(model => model.Time_Req, htmlAttributes: new {@class = "control-label col-md-2"})</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Time_Req, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Time_Req, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <p>@Html.LabelFor(model => model.Task_Due, htmlAttributes: new { @class = "control-label col-md-2" })</p>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Task_Due, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Task_Due, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

